In [1]:
print(2 ** 3 ** 2)

512

In [1]:
print("hello")

hello

In [2]:
a=2
b=5
print(a+b)

7

In [3]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
print(a+b)

enter first number: 12
enter second number: 13

25

In [7]:
print("amit"+' '+"hello")

amit hello

In [2]:
a = [12,22,1,32,22]
type(a)

list

# While Loop

In [4]:
a=1
b=3
while a<=10:
    print(b,"*",a,"=",b*a)
    a+=1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [10]:
nums=[1,4,9,16,34,76,34,99,108]

a=0
while a<len(nums):
    print(nums[a])
    a+=1

1
4
9
16
34
76
34
99
108

In [11]:
nums=[1,2,5,6,9,12,64,77,89,99,41]

x=64
a=0
while a<len(nums) :
    if (nums[a]==x) :
        print("find the list number")
    a+=1

find the list number

In [7]:
a=4
for i in range(1,11):
    print(a,"*",i,"=",a*i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
a=1
while a<=5 :
    print(a)
    a+=1

In [2]:
a=1
while a <= 5 :
    print(a)
    a+=1

1
2
3
4
5

In [1]:
print("hello")

hello

# Break Statement

In [21]:
i=1
while i<=7 :
    print(i)
    if (i==5) :
        break
    i+=1

1
2
3
4
5

In [13]:
list=[1,3,4,2,6,7,9,12]
a=0
while a < len(list) :
    if (list[a]==6):
        break
    else :
        print("fijsj")
    a+=1
else :
    print("end")

fijsj
fijsj
fijsj
fijsj

# Continue Statement

In [3]:
i=0
while i<=7 :
    i+=1
    if (i==4) :
        continue
    print(i)

1
2
3
5
6
7
8

In [6]:
a=1
while a<=5 :
    if (a==4) :
        a+=1
        continue
    else :
        print(a)
    a+=1

1
2
3
5

In [9]:
list=[1,2,3,5,6,8,12]
a=0
while a < len(list) :
    if (list[a] == 5) :
        break
    else :
        print(a)
    a+=1
else :
    print("end of loop")

0
1
2

In [14]:
count = 0
for i in range(5):
    if i % 2 == 0:
        count += 1
    else:
        count -= 1
print(count)

1

In [17]:
for char in "loop" :
    if char == "o" :
        continue
    print(char,end="")

lp

In [18]:
total = 0
for i in [10,20,30,40,50]:
    if total > 30 :
        break
    total+=i
print(total)

60

In [19]:
temp=25
is_raining=False
if temp>20:
    if is_raining:
        print("warm and rainy")
    else:
        print("warm and sunny")
else:
    print("cool")

warm and sunny

# For Loop

In [4]:
for i in range(1,11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
total=0
for i in [10,20,30,40,50] :
    if total>30 :
        break
    total+=1
print(total)

5

In [10]:
nums=[1,2,43,44,12,76,98,58,40]
for i in nums :
    print(i)

1
2
43
44
12
76
98
58
40

In [11]:
for a in range(2,21,2) :
    print(a)

2
4
6
8
10
12
14
16
18
20

# 1. Arithmetic Operators

In [12]:
a=10
b=3

print(a + b)   
print(a - b)   
print(a * b)   
print(a / b)   
print(a // b)  # Floor Division
print(a % b)   # Modulus (remainder)
print(a ** b)  # Exponentiation (power)

13
7
30
3.3333333333333335
3
1
1000

# 2. Comparison (Relational) Operators

In [13]:
a = 10
b = 5

print(a == b)  
print(a != b)  
print(a > b)   
print(a < b)   
print(a >= b)  
print(a <= b)

False
True
True
False
True
False

# 3. Assignment Operators

In [14]:
x = 10
x += 5
print(x)  

x -= 3
print(x)  

x *= 2
print(x)  

x /= 4
print(x)

15
12
24
6.0

# 4. Logical Operators

In [15]:
a = 10
b = 5

print(a > 5 and b < 10)  
print(a > 5 or b > 10)   
print(not(a > 5))

True
True
False

# 5. Bitwise Operators

In [17]:
a = 5   
b = 3   

print(a & b)   
print(a | b)   
print(a ^ b)

1
7
6

# 6. Membership Operators

In [18]:
fruits = ['apple', 'banana', 'mango']

print('apple' in fruits)      
print('grape' not in fruits)

True
True

# 7. Identity Operators

In [19]:
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print(x is z)      
print(x is y)       
print(x == y)      
print(x is not y)

True
False
True
True

# List in python

In [ ]:
A list is a mutable (changeable), ordered sequence of elements.
Lists can hold items of any data type (including mixed types).

# list characterstics

In [ ]:

1.ordered
2.items can be access
3.changable
4.heterogenous
5.can have duplicate value
6.are dynamic
7.can be nested
8.can contain any type of object

# Main Topic

In [ ]:
1.access
2.editing
3.deleting
4.operation
5.function

# 1.access

In [ ]:
1.list id and 2d
2.indexing
3.slicing

# Indexing

In [4]:
str="my first python file"
ch=str[6]
print(ch)

s

In [2]:
a=[1,2,4,7,8,6]
a[3]

7

In [2]:
l=[1,2,4,6,8,9,12,16,19,32,53]
ind=0
while ind<len(l) :
    print(l[ind])
    ind+=1

1
2
4
6
8
9
12
16
19
32
53

# replace value in index

In [10]:
l=[2,4,6,7]
l[0]=100
l

[100, 4, 6, 7]

In [16]:
list=[12,5,42,66,39,30]
list[1]=100
list[2]=200
print(list)

[12, 100, 200, 66, 39, 30]

In [7]:
import pandas as pd

l=['amit','aman','monika','hardeep','sahil']

df1=pd.DataFrame(l)
print(df1)

         0
0     amit
1     aman
2   monika
3  hardeep
4    sahil

In [6]:
list=[['amit',45,'sahil'],['rohit',56,'riya']]

df=pd.DataFrame(list)
print(df)

       0   1      2
0   amit  45  sahil
1  rohit  56   riya

# Slicing

In [5]:
str="hello my name is amit"
str[0:3]

'hel'

# replace value in slicing

In [12]:
l=[2,5,7,12,54]
l[0:2]=[100]
l

[100, 7, 12, 54]

In [17]:
list=[2,5,3,66,345,23,33]
list[0:3]=[200,400,600]
print(list)

[200, 400, 600, 66, 345, 23, 33]

# 2.editing

# append

In [ ]:
add as a single element at the end of the list
modify the list itself
if we append element ,it will be  nested ,not merged

In [29]:
# Add new element
nums = [1, 2, 3]
nums.append(4)  # [1, 200, 3, 4]
print(nums)

[1, 2, 3, 4]

In [31]:
nums = [1, 2, 3]
nums.append([4,5,7]) #append a list as single element
nums

[1, 2, 3, [4, 5, 7]]

# insert

In [32]:
# Insert at specific position
nums = [1, 2, 3]
nums.insert(1, 100) 
nums# [1, 100,3]

[1, 100, 2, 3]

# Difference Between append() and extend()

In [9]:
fruits=['apple','mango']
add=['banana','grapes']

fruits.append(add)
print('append:',fruits)

fruits=['apple','mango']
fruits.extend(add)
print('estend:',fruits)

append: ['apple', 'mango', ['banana', 'grapes']]
estend: ['apple', 'mango', 'banana', 'grapes']

In [33]:
l=[2,4,6,7]
l[0]=100
l

[100, 4, 6, 7]

In [34]:
l=[2,4,6,7]
l[0:3]=[100]
l

[100, 7]

In [37]:
l=[2,4,6,7]
l[0]=200
l[1]=300
l[2]=400
print(l)

[200, 300, 400, 7]

In [38]:
l=[2,4,6,7]
l[1:4]=[200,300,400]
l

[2, 200, 300, 400]

In [39]:
l=[2,4,6,7,8,5,6,70]
print(len(l))
l[-2:]=[5] #list can grow and shrink accordingly
print(l)
print(len(l))

8
[2, 4, 6, 7, 8, 5, 5]
7

# 3.Deletion

In [24]:
# Partially and Fully

list=[2,3,5,7,9]
del list[1]
list

[2, 5, 7, 9]

In [25]:
del list[1:3]
list

[2, 9]

In [28]:
num=[2,3,4,5,6,7]

# Remove by value
num.remove(5)              # remove 5 [2,3,4,6,7]
print(num)

# Remove by Index
num.pop(2)                 # remove 4 [2,3,6,7]
print(num)

# Remove Last
num.pop()                  # remove 7 [2,3,6]
print(num)

# Clear all elements
num.clear()                # empty list
print(num)

[2, 3, 4, 6, 7]
[2, 3, 6, 7]
[2, 3, 6]
[]

In [40]:
l=[2,4,6,7] #using index
del l[-1]
l

[2, 4, 6]

# 4.operations

In [ ]:
#operation
arithmetic  +
membership   in,not in
loop for

In [41]:
l1=[1,2,3]
l2=[4,5,6]
l3=l1+l2
l3

[1, 2, 3, 4, 5, 6]

In [42]:
l1=[1,2,3]
l1*6

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
s="amit"
s*3

'amitamitamit'

In [ ]:
# Concatenation
[1, 2] + [3, 4]  # [1, 2, 3, 4]

# Repetition
[0] * 4          # [0, 0, 0, 0]

# Membership
3 in [1, 2, 3]   # True

In [44]:
s="hello","world"
s[0]
'world' in s

True

In [45]:
s="hello world"
'a' in s

False

In [46]:
nums = [10, 20, 30]

# Simple loop
for n in [10, 20, 30]:
    print(n)

10
20
30

In [9]:
a=[1,2,3,4,5,6]
b=[]
c=[]

for i in a :
    if i % 2 == 0 :
        b.append(i)
    else :
        c.append(i)

print(b)
print(c)

[2, 4, 6]
[1, 3, 5]

In [48]:
# With index
for a,b in [(0, 20), (1, 40), (2, 'renu')]:
    print(a, b)

0 20
1 40
2 renu

In [54]:
a=list(enumerate([10,20,30]))
a

TypeError: 'list' object is not callable

In [55]:
for a,b in enumerate([10,20,30]):
    print(a,b)

0 10
1 20
2 30

# 5.function

In [56]:
l=[[1,2,3,4,5]]
len(l)

1

In [57]:
list=[1,2,4,5,6,7,8,4]
len(list)

8

In [58]:
l=[[2,'abhi'],[5,3],[2,'sahil']]
len(l)

3

In [59]:
l=[4,5,67,2,3,4]   #1d
min(l)

2

In [60]:
l=[[4,5],[8,5]]  #compare with first element
max(l)

[8, 5]

In [61]:
l=[[14,5,12],[4,5,5]]
max(l)

[14, 5, 12]

In [62]:
l=[4,5,67,2,3,4]
l.count(2)

1

In [63]:
l=[1,2,4,6,1,5,1]
l.count(1)

3

In [64]:
l=[[14,5,12],[4,5,5],[4,5,5]]
l.count([4,5,5]) #how many times x appears in the list

2

In [ ]:
2d array
will only match exact sublists, not elements inside the sublists.

In [65]:
#id array
l=[2,35,4,32,2]
l.count(32)

1

In [66]:
l = [10, 20, 30, 20, 40]
l.index(20)  # Output: 1, because the first 20 is at index 1
l.index(20, 2)  # Output: 3, start searching from index 2

3

# reverse

In [69]:
l=[1,2,3,4,5,6]
l.reverse()
l

[6, 5, 4, 3, 2, 1]

In [70]:
l1=[[1, 5, 4], [5, 4]]
l1.reverse()
l1

[[5, 4], [1, 5, 4]]

In [71]:
l=[[1, 5, 4], [5, 4]]
for i in l:        #[1,5,7]
    i.reverse()

print(l)

[[4, 5, 1], [4, 5]]

# permanent sort

In [ ]:
sort() sorts elements inside each sublist in ascending order by default.

In [72]:
l1=[10,4,2,3,6,78]
l1.sort()
print(l1)

[2, 3, 4, 6, 10, 78]

In [73]:
l1

[2, 3, 4, 6, 10, 78]

In [74]:
l1=[1,4,2,3,6,78]
l1.sort(reverse=True)
print(l1)

[78, 6, 4, 3, 2, 1]

In [75]:
l1

[78, 6, 4, 3, 2, 1]

In [76]:
l = [[4, 5, 1], [4, 5]]
for i in l:
    i.sort()
    print(i,end="")

[1, 4, 5][4, 5]

In [ ]:
sorted(iterable, key=None, reverse=False)

In [77]:
l = [5, 2, 9, 1]
new_list = sorted(l)
print(new_list)  # Output: [1, 2, 5, 9]
print(l)         # Original list remains: [5, 2, 9, 1]

[1, 2, 5, 9]
[5, 2, 9, 1]

In [78]:
l = [5, 2, 9, 1]
a=sorted(l)
print(l)
print(a)

[5, 2, 9, 1]
[1, 2, 5, 9]

# copy

In [ ]:
#copy
A shallow copy creates a new list object, 
but the elements themselves are references to the same objects in the original list.

In [79]:
#Using copy module
import copy
copy3 = copy.copy(l)

In [80]:
#in 1d
l=[1,2,3,4,5]
import copy
l1 = copy.copy(l)
l1[2]=20
print(l1)
print(l)

[1, 2, 20, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
#in case of 2d
it create a new outer list. But the inner lists are still the same objects:

In [81]:
l = [[1, 2], [3, 4]]
import copy
l1 = copy.copy(l)
l1[0][0] = 100
print(l1)
print(l)
#print(id(l1[0]))
#print(id(l[0]))

[[100, 2], [3, 4]]
[[100, 2], [3, 4]]

In [ ]:
A deep copy duplicates all nested objects, 
so changes in the original list do not affect the copy.

In [82]:
import copy
l = [[1, 2], [3, 4]]
l1= copy.deepcopy(l)
l[0][0] = 500
print(l1) 
print(l)

[[1, 2], [3, 4]]
[[500, 2], [3, 4]]

In [1]:
# Multiplication of table

for i in range(2,21,2) :
    print(i)

2
4
6
8
10
12
14
16
18
20

In [2]:
# Multiplication of table With Formating

a=int(input("enter any number :"))
for i in range(1,11) :
    print(f"{a} * {i} = {a*i}")

enter any number : 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [3]:
# Without Formating

a=int(input("enter any number :"))
for i in range(1,11) :
    print(a,"*",i,"=",a*i)

enter any number : 8

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [4]:
# Reverse a string.

text=input("enter a string name:")
reversed_text =""

for i in text:
    reversed_text = i+reversed_text

print("reversed string:",reversed_text)

enter a string name: amit

reversed string: tima

In [ ]:
#